* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #fff;
    font-family: "Poppins", Arial, sans-serif;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.container {
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

h1 {
    display: flex;
    text-align: center;
    align-items: center;
    height: 100px;
    width: auto;
    background: linear-gradient(to bottom, #00000000, #00000079, #000000, #00000079, #00000000);
}

.btn {
    font-weight: 500;
    background: none;
    border: solid 1.5px white;
    border-radius: 10px;
    color: white;
    padding: 10px 18px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn:hover {
    background: white;
    color: black;
    padding: 10px 25px;
    border-radius: 20px;
    transition: all 0.2s ease;
}

.res-card {
    animation: fadeInOut 0.5s ease-in-out;
    background: rgba(80, 80, 80, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    padding: 25px 35px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    font-size: 1rem;
    line-height: 1.6;
    min-width: 250px;
    backdrop-filter: blur(12px);
}

#bg-video {
    position: fixed;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

@keyframes fadeInOut {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}